{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
<div class="ui stackable middle very relaxed page grid">
<div class="sixteen wide center aligned centered column">
<div class="hero">
<img alt="logo" class="logo" src="/assets/logo.png" />
</div>
</div>
<div class="four wide center aligned centered column">
<div><img alt="git" src="/assets/git.png" width="60"></div>
<a href="/explore">Code hosting</a>
</div>
<div class="four wide center aligned centered column">
<div><img alt="ci" src="/assets/woodpecker.png" width="60"></div>
<a href="https://ci.ttnrtsite.me">CI</a>
</div>
<div class="four wide center aligned centered column">
<div><img alt="ttpages" src="/assets/ttpages.png" width="60"></div>
<a href="https://ttnrtsite.io">TTPages</a>
</div>
</div>
</div>
{{template "base/footer" .}}
